*{
    margin: 0;
}

header {
    padding: 20px 0;
    height: 8%;
    font-size: 40px;
    box-shadow: 0 0 40px rgb(255, 255, 255);
    background-image: url(../css/img/header.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo, img {
    float: left; /* Para alinear la imagen a la izquierda */
    width: 90px; /* Ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
    cursor: pointer;
    margin-right: 50px;
    border-radius: 70px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.logo, img {
    float: left; /* Para alinear la imagen a la izquierda */
    width: 90px; /* Ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
    cursor: pointer;
    margin-right: 50px;
    border-radius: 70px;
}
nav ul li {
    display: inline-block;
    margin-right: 150px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #e0a8e2;
}


#pruebas{
    
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
}

body{
    background-image: url(../css/img/cielito.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

button{
    margin-top: 20px;
    width: 180px;
    background-color: #330808;
    color: #ffffff;
    padding: 30px 0;
    font-size: 30px;
    font-weight: 600px;
    border-radius: 30px;
    cursor: pointer;
}

.respuesta-box {
    width: 300px;
    height: 200px;
    padding: 30px;
    background-image: radial-gradient(circle at 53.31% 50%, #ffc8ab 0, #ffbea6 12.5%, #ffb4a2 25%, #ffa89f 37.5%, #ff9c9c 50%, #fb909b 62.5%, #f6859c 75%, #f07b9f 87.5%, #e973a4 100%);    
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    margin-top: 80px;
    text-align: center; /* Alineamos el texto al centro */
}

.contentbus{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#out{
    color: #ffffff;
    padding: 12px 10px;
    font-size: 30px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    background-color: transparent; 
    border: 3px solid #ffffff;
}
